.footer {
  margin-top: 15rem;

  padding: var(--mat-sys-body-large-size);
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-surface);

  &__links {
    display: flex;
    flex-direction: column;

    a {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      text-decoration: none;
      color: (var(--mat-sys-on-secondary-container));
    }
  }
}
