<form class="search-form">
  <mat-form-field class="search-form__form-field">
    <mat-label>{{ 'NEWS_LINK' | translate }}</mat-label>
    <input
      type="url"
      matInput
      [formControl]="newsFormControl"
      [placeholder]="'NEWS_LINK_EXAMPLE' | translate"
      data-testid="news-search-input"
    />
    <mat-icon matSuffix aria-hidden="false" aria-label="search icon" fontIcon="search" />

    @if (newsFormControl.hasError('pattern') && !newsFormControl.hasError('required')) {
    <mat-error data-testid="news-search-www-error">{{
      'ERROR.INCORRECT_LINK' | translate
    }}</mat-error>
    } @if (newsFormControl.hasError('required')) {
    <mat-error data-testid="news-search-req-error">{{
      'ERROR.LINK_REQUIRED' | translate
    }}</mat-error>
    }
  </mat-form-field>
</form>
